.search-results {
    margin: 0 auto;
    height: 100%;
    text-align: center;
    overflow-x: scroll;
    /* overflow-y: hidden; */
    white-space: nowrap;
}
.search-book {
    display: inline-block;
    margin-top: 0px;
    margin-right: 30px;
    border-radius: 5px;
    height: 80%;
    width: 80vw;
    border: 1px solid white;
    overflow-x: hidden;
    white-space: normal;
    box-shadow: 0px 1px 5px 4px black;
}
.search-book:hover {
    box-shadow: 0px 8px 20px 10px black;
    transition-duration: 300ms;
    cursor: pointer;
}
.search-book > .title {
    height: 10%;
    padding: 15px;
    font-size: 15px;
    overflow: hidden;
    border: 1px solid blue;
}
.search-book > .foot {
    height: 10%;
    border: 1px solid black;
}

.search-book > .card-body {
    height: 80%;
    overflow-y: scroll;
    border: 1px solid black;
}
.search-book > .description {
    height: 80%;
    border: 1px solid black;
    overflow: scroll;
}
.description {
    overflow: scroll;
}
.search-book > .authors {
    height: 10%;
    border: 1px solid black;
}
.search-book > .info-link {
    height: 10%;
    border: 1px solid black;
}
.search-book > .book-image {
    height: 100%;
} 

.flip-book {
    display: table-cell;
    height: 480px;
    width: 320px;
    text-align: center;
    vertical-align: middle;
   
}

.flip-book > .cover {
    width: auto;
    height: 100%;
}